<div class="container">
    <div class="header">
        <h2>Game List</h2>
    </div>
    <div class="filter">
        <div class="search">
            <input (ngModelChange)="search($event)" class="form-control" type="text" name="search"
                [(ngModel)]="searchText" autocomplete="off" placeholder="Search">
        </div>

        <button (click)="goCreatePage()">new game</button>
    </div>
    <div class="games-container">
        <div class="each-game" *ngFor="let game of filteredGames">
            <h3>{{game.name}}</h3>
            <img src="{{game.iconUrl}}" alt="{{game.iconUrl}}" width="300" height="400" />
            <button (click)="deleteGame(game.id)"><i class="fas fa-times-circle fa-lg"></i></button>
        </div>
    </div>
    <div class="no-result" *ngIf="!filteredGames.length">
        <p>no records found</p>
    </div>
</div>