@import "src/styles/variables";
@import "src/styles/mixins";

.container {
    width: 80%;
    height: fit-content;
    margin: auto;
    padding-bottom: 2rem;

    .header {
        width: 100%;
        height: 3rem;
        @include flex(row, flex-start, center);
        margin-top: 3rem;
    }

    .filter {
        width: 100%;
        @include flex(row, space-between, center);
        margin-top: 2rem;
        height: 4rem;

        .search {
            input {
                outline: none;
                box-shadow: none;
                height: 2.5rem;
                color: $black;
                padding: 0 2rem;
                border: 1px solid rgb(153, 149, 149);
            }
        }

        button {
            @include formButton;
            background-color: $lightGreen;
            color: $white;
            border: none;
            border-radius: 1.25rem;
            padding: 0.85rem;
            font-size: 16px;
            font-weight: 600;
            letter-spacing: 1px
        }
    }

    .games-container {
        @include flex(row, space-evenly, center);
        display: grid;
        grid-template-columns: repeat(4, auto);
        flex-wrap: wrap;
        margin-top: 2rem;

        .each-game {
            position: relative;
            margin: 1rem 1rem;

            h3 {
                margin: 0.7rem 0;
            }

            button {
                border: none;
                color: $black;
                position: absolute;
                top: 2rem;
                cursor: pointer;
                right: -1rem;

                &:hover {
                    color: red;
                }

            }
        }

    }
    .no-result {
        margin-top: 3rem;
        text-align: center;

        p {
            color: $rollicBlue;
            font-size: 1.2rem;
        }
    }
}

@media (max-width: 673px) {
    .container {
        width: 100%;
        height: fit-content;
        margin: auto;

        .header {
            width: 90%;
            margin: auto;
            height: 3rem;
            @include flex(row, flex-start, center);
            margin-top: 2rem;
        }

        .filter {
            width: 90%;
            margin: auto;
            @include flex(row, space-between, center);
            margin-top: 2rem;
            height: 4rem;

            .search {
                input {
                    outline: none;
                    box-shadow: none;
                    height: 2.5rem;
                    color: $black;
                    padding: 0 2rem;
                    border: 1px solid rgb(153, 149, 149);
                }
            }

            button {
                @include formButton;
                background-color: $lightGreen;
                color: $white;
                border: none;
                border-radius: 1.25rem;
                padding: 0.85rem;
                font-size: 16px;
                font-weight: 600;
                letter-spacing: 1px
            }
        }

        .games-container {
            @include flex(column, space-evenly, center);

            margin-top: 2rem;

            .each-game {
                position: relative;
                margin: 1rem 1rem;

                h3 {
                    margin: 0.7rem 0;
                }

                button {
                    border: none;
                    color: $black;
                    position: absolute;
                    top: 2rem;
                    cursor: pointer;
                    right: -1rem;

                    &:hover {
                        color: red;
                    }

                }
            }

            .no-result {
                margin-top: 3rem;

                p {
                    color: $rollicBlue;
                    font-size: 1.2rem;
                }
            }
        }
    }

}