
@font-face {
    font-family: proxima-nova;
    src: url("/assets/fonts/proxima-nova.otf") format("opentype");
  }
  
  @import "./mixins";
  @import "./variables";
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "proxima-nova", sans-serif;
  }
  
  html {
    font-size: 16px;
    overflow: auto;
  }
  
  input {
    padding-left: 0.5rem;
    border: 1px solid $blue;
  
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
  
  a{
    text-decoration: none;
    color: inherit;
  }
